@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



.parallax-bg {
    background-attachment: fixed;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffa000 !important;
}

.swiper-pagination-bullet {
  background-color: #ffa000 !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffa000 !important;
  opacity: 1 !important;
}

/* Hide navigation arrows on small screens */
@media (max-width: 767px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }
  

  