@import '@fortawesome/fontawesome-free/css/all.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



.parallax-bg {
    background-attachment: fixed;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.fade-in-up {
    animation: fadeInUp 1s ease-out forwards;
}

.htrc-burger {
  position: relative;
  display: none;
  width: 42px;
  height: 42px;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  padding: 0;
}

.htrc-burger span {
  display: block;
  width: 30px;
  height: 4px;
  background: #fdfdfd;
  transition: all 0.3s ease-in-out;
}

.htrc-burger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(13px);
}

.htrc-burger.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}

.htrc-burger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px);
}

.htrc-mobile-nav {
  display: none;
}

.htrc-mobile-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.htrc-mobile-nav a {
  display: block;
  margin: 24px 0;
  color: #fdfdfd;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.htrc-mobile-nav a:hover {
  color: #ffa000;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffa000 !important;
}

.swiper-pagination-bullet {
  background-color: #ffa000 !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffa000 !important;
  opacity: 1 !important;
}

/* Hide navigation arrows on small screens */
@media (max-width: 767px) {
    .htrc-burger {
      display: inline-flex;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }

    .htrc-mobile-nav {
      position: fixed;
      display: block;
      top: 90px;
      right: 0;
      z-index: 40;
      width: 100%;
      min-height: calc(100vh - 90px);
      padding: 32px;
      background: #151515;
      border-bottom: solid #000 3px;
      transform: translateY(-100%);
      visibility: hidden;
      pointer-events: none;
      transition: transform 0.3s ease-in-out, visibility 0s linear 0.3s;
    }

    .htrc-mobile-nav.open {
      transform: translateY(0);
      visibility: visible;
      pointer-events: auto;
      transition: transform 0.3s ease-in-out, visibility 0s;
    }

    .htrc-mobile-nav a {
      font-size: 1.6rem;
      text-align: center;
    }
  }
  

  
